<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('partials/head.ejs') %>
</head>
<body>
    <!-- Header -->
    <%- include('partials/navigation.ejs') %>

    <!-- Main content -->
    <main class="container vh-100 d-flex justify-content-center align-items-center">
        <div class="d-flex flex-column justify-content-center align-items-center">
            
            <h1 class="display-1 pt-2 text-center d-flex justify-content-center align-items-center">About</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum ipsam pariatur, totam, delectus, animi nam assumenda libero tenetur eveniet repellat eligendi incidunt. Et hic quaerat accusamus excepturi nisi eligendi possimus necessitatibus blanditiis velit, dolor odit quod, numquam facere perspiciatis. Atque dignissimos ipsa placeat nesciunt illum amet eos nulla qui, necessitatibus, libero explicabo eligendi, facere deserunt minus aliquam! Veniam, quae natus? Deleniti nostrum unde laborum amet optio quidem temporibus rerum. Modi quasi reiciendis eveniet, praesentium nemo in dignissimos beatae ipsa odio ipsum doloremque libero placeat! Iusto omnis, est officiis nulla, expedita maxime cum excepturi ipsa quibusdam quae dolor nemo. Itaque voluptates temporibus, aut, harum odio animi repellat culpa voluptatem enim eum, mollitia explicabo architecto quod fuga rem quibusdam tenetur dolor corrupti nostrum ullam eos ut autem deleniti. Voluptate dignissimos tenetur ex quas quasi dolorum voluptatibus ducimus accusantium aperiam, asperiores quisquam commodi vitae incidunt dolorem, fugit perferendis. Vel accusamus placeat dolore, vero autem dignissimos. Laboriosam quis dicta libero quisquam adipisci? Asperiores doloribus iusto amet animi facere, in cumque! Tenetur laudantium minus, rerum vel officia magni ut excepturi veritatis temporibus assumenda illo, quia mollitia ullam, soluta quos dolor quas esse. Placeat maiores cupiditate quibusdam repellat atque earum cum obcaecati consequuntur distinctio. Sunt, quis expedita, architecto quos vel incidunt laborum veritatis natus suscipit, repellat sint facilis. Cupiditate porro totam, aliquid voluptates perspiciatis voluptatem dolorem placeat saepe amet illo fugiat provident modi eum quam laboriosam consequuntur quae quia obcaecati temporibus repellendus eius ut? Repellat repudiandae nisi quae expedita, vero magni sequi iste eius architecto. Placeat quisquam tempore excepturi odit praesentium tenetur veritatis accusamus iure at quidem ea ex nostrum adipisci, voluptates fugiat quod esse recusandae ipsam molestias animi repudiandae? Ratione autem laborum animi harum, quis, quisquam quam ipsa a veniam aliquam ipsam officiis corporis vel molestias. Temporibus, voluptate? Inventore, aliquam ducimus dolorem quas voluptates consequatur.</p>
            <a href="/" class="btn btn-primary w-25">Home</a>
        </div>
    
    </main>
    
    <!-- Footer -->    
    <%- include('partials/footer.ejs') %>
    
</body>
</html>

